.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-grid {
  display:inline-block;
  width:100%;
  margin:0;
  min-height: 75vh;
  white-space:normal;
  overflow-x: scroll;
}


#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.full-nav {
  width: 100%;
}

nav.light-theme {
  background-color: #556BD6;
}

nav.dark-theme {
  background-color: #1c5476;
}

div.App.light-theme {
  background-color: white;
}

div.App.dark-theme {
  background-color: #303030;
}

div.card.light-theme {
  background-color: white;
}

div.card.dark-theme {
  background-color: #424242;
}

h5.card-title.light-theme {
  color: black;
}

h5.card-title.dark-theme {
  color: white;
}

p.card-text.light-theme {
  color: grey;
}

p.card-text.dark-theme {
  color: grey;
}

.fa-home{
  color: white;
}

.home-title {
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1.home-title.light-theme {
  color: black;
}

h1.home-title.dark-theme {
  color: white;
}

.side-list {
  width: 100%;
  float: right;
}

.side-list-item {
  width: 100%;
  height: 10%;
  text-align: center;
}



.side-list-label {
  color: black;
  height: 25%;
  width: 70%;
  text-align: center;
  display: inline-block
}

.side-list-image {
  width: 30%;
  display: inline-block
}

div.side-list-label.light-theme {
  color: black;
}

div.side-list-label.dark-theme {
  color: white;
}

p.light-theme {
  color: grey;
}

p.dark-theme {
  color: grey;
}

h2.light-theme {
  color: black;
}

h2.dark-theme {
  color: white;
}